<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="logFileLocation" value="C:\WebSite\api-publish\dhpr\logs\"/>
    <add key="rdsJsonUrl" value="https://health-products-dev.hres.ca/api/summary-report/api/regulatorydecision/?type=json"/>
    <add key="ssrJsonUrl" value="https://health-products-dev.hres.ca/api/summary-report/api/safetyreview/?type=json"/>
    <add key="sbdJsonUrl" value="https://health-products-dev.hres.ca/api/summary-report/api/basisdecision/?type=json"/>
    <add key="sbdmdJsonUrl" value="https://health-products-dev.hres.ca/api/summary-report/api/basisdecisionMedicalDevice/?type=json"/>
    <add key="rdsmdJsonUrl" value="https://health-products-dev.hres.ca/api/summary-report/api/regulatoryDecisionMedicalDevice/?type=json"/>    
  </appSettings>
  
 <system.web>
   <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors defaultRedirect="genericError.html" mode="Off" />  
  </system.web>
   <!-- <system.webServer>
        <defaultDocument>
            <files>
                <add value="index-en.html" />
            </files>
        </defaultDocument>
    </system.webServer>-->

</configuration>