<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="logFileLocation" value="C:\inetpub\wwwroot\dhpr\logs\"/>
    <add key="rdsJsonUrl" value="http://imsd.hres.ca/regContentV1/api/regulatorydecision/?type=json"/>
    <add key="ssrJsonUrl" value="http://imsd.hres.ca/regContentV1/api/safetyreview/?type=json"/>
    <add key="sbdJsonUrl" value="http://imsd.hres.ca/regContentV1/api/basisdecision/?type=json"/>
    <add key="sbdmdJsonUrl" value="http://imsd.hres.ca/regContentV1/api/basisdecisionMedicalDevice/?type=json"/>
    <add key="rdsmdJsonUrl" value="http://imsd.hres.ca/regContentV1/api/regulatoryDecisionMedicalDevice/?type=json"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">      
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <!-- Turn on Custom Errors -->
    <customErrors defaultRedirect="genericError.html" mode="On" />  
  </system.web>
</configuration>
